fieldset {
    width: 40%;
    text-align: center;
    margin: 20px;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    fieldset {
        width: 80%;
        text-align: center;
        margin: 20px;
        border-radius: 5px;
    }
}
form {
    margin-top: 30px;
    margin-bottom: 30px;
}

input {
    padding: 5px;
    margin: 10px;
    border: solid 1px black;
}

.submit {
    background-color: teal;
    font-weight: bold;
    width: 100px;
    height: 35px;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(104, 112, 112);
}

textarea {
    border: 1px solid black;
    width: 80%;
    height: 20%;
}